{% extends 'metamorphic/index.html' %}

{% load static i18n widget_tweaks %}    

{% block icon %}
    <i class="fa fa-database icon-gradient bg-malibu-beach">
    </i>
{% endblock%}

{% block title %}
    {% trans 'Databases' %}
{% endblock %}

{% block titledescription %}
    {% trans 'Create or select a database connectionx.' %}
    <p>{% trans 'The connection will be used to execute the queries.' %}</p>
{% endblock %}

{% block content %}

<div class="row">
<div class="col-md-12">
    <div class="main-card mb-3 card">
        <div class="card-header">{% trans 'Database Instances' %}
        <div class="btn-actions-pane-right">
            <div role="group" class="btn-group-sm btn-group mr-4">
                <a onclick="createDB()" class="btn btn-success" data-toggle="modal" href="#myModal"
                        data-target="#myModal"> <i class="fa fa-plus mr-1"></i>  {% trans 'Add Instance' %}</a>
            </div>
        </div>
        </div>
        <div class="table-responsive">
            <table id="instanceTable" class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                <tr>
                    <th class="text-center">Database Name</th>
                    <th class="text-center">Database Username</th>
                    <th class="text-center">Host</th>
                    <th class="text-center">Port</th>
                    <th class="text-center">Created by</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for instance in all_db_instances %}
                <tr>
                    <td class="text-center">{{instance.db_name}}</td>
                    <td class="text-center">{{instance.db_user}}</td>
                    <td class="text-center">{{instance.host}}</td>
                    <td class="text-center">
                        <div class="badge badge-info">{{instance.port}}</div>
                    </td>
                    <td class="text-center">{{instance.user}}</td>
                    <td class="text-center">
                    {% if user == instance.user %} 
                      <button type="button" onclick="editDB({{instance.id}})" class="btn btn-warning"  data-target="#myModal" data-toggle="modal">
                        <span class="fa fa-pencil"></span>
                      </button>             
                      <button onclick="deleteDBInstance({{instance.id}})" type="submit" class="btn btn-danger">
                        <i class="fa fa-trash"> </i>
                      </button>
                      {% else %}
                       <a data-placement="bottom" data-toggle="tooltip" data-original-title="{% trans 'Only the owner can edit/delete the instance' %}"></a>
                         {% endif %}                                        
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>

{% endblock  %}

{% block modal %}



<div class="bootstrap-modal modal fade in" id="myModal" style="display: none;">
<div class="modal-dialog" role="document"> 
    <div class="modal-content">
    </div>

</div>
</div>


{% endblock  %}



{% block javascript %}

<script>

  $(document).ready(function() {
    $('#instanceTable').DataTable( {
      "paging": false,
      "info": false,
      "searching": false } ) ;
} );
</script>


<script>
    function createDB() {
       $.ajax({
          url: "create/",
          method: 'GET',
          dataType: 'html',
          success: function(formHtml){
            $('#myModal').find('.modal-content').html(formHtml);
          },
       });

      return false;
    }
</script>


<script>
    function editDB(instanceId) {
       $.ajax({
          url: instanceId+"/edit/",
          method: 'GET',
          dataType: 'html',
          success: function(formHtml){
            $('#myModal').find('.modal-content').html(formHtml);
          },
       });

      return false;
    }
</script>


  <script> 
  function deleteDBInstance(instanceId) {
    var csrftoken = '{{ csrf_token }}'
              swal({
                title: "{% trans 'Are you sure?' %}",
                text: "{% trans 'You will not be able to recover this database instance!' %}",
                icon: "warning",
                buttons: ["{% trans 'No, cancel' %}", "{% trans 'Yes, delete!' %}"],
                closeOnClickOutside: false,
                dangerMode: true,
            }).then((willDelete) => {
  if (willDelete) {
                    $.ajax({
            url :  instanceId +"/delete/",
            type : "POST",
            data : {
                csrfmiddlewaretoken: csrftoken
            },
            success: function (data) {
swal({
            title: "{% trans 'Deleted' %}",
            text: "{% trans 'The database instance has been succesfully deleted' %}",
            icon: "success"
        }).then((value) =>{
               location.reload();
});
            
            },  
            error : function() {
                sweetAlert("{% trans 'Oops...' %}", "{% trans 'Something went wrong!' %}", "error");
            }

      })
  } else {
   swal({
            title: "{% trans 'Cancelled' %}",
            icon: "info"
        });
  }
});

          }
  </script>

    

{% endblock %}
