{% extends 'metamorphic/index.html' %}

{% load static i18n widget_tweaks %}    

{% block icon %}
    <i class="fa fa-project-diagram icon-gradient bg-malibu-beach">
    </i>
{% endblock%}

{% block title %}
    {% trans 'Metamorphic Relations.' %}
{% endblock %}

{% block titledescription %}
    {% trans 'Select a query.' %}
{% endblock %}

{% block content %}

<div class="row">
<div class="col-md-12">
    <div class="main-card mb-3 card">
        <div class="card-header">{% trans 'Relations' %}
        <div class="btn-actions-pane-right">
            <div role="group" class="btn-group-sm btn-group">
            </div>
        </div>
        </div>
        <div class="table-responsive">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                </thead>
                <tbody>
                    <tr>
                    <td class="text-center">
                    <form>
                    {% csrf_token %}
                      <div class="position-relative form-group">
                        <label for="exampleCustomSelect" class="">Query Selection</label>
                        <select type="select" id="queriesSelect" name="queriesSelect" class="custom-select">
                            <option value="">----------</option>
                              {% for query in all_queries %}
                                  <option value="{{ query.pk }}">{{query.query_id}}   -   {{ query.query_text }}</option>
                              {% endfor %}
                        </select>
                      </div>
                    </form>
                    </tr>
                </tbody>
            </table>
        </div>
                               <div class="card-body">
                  <div class="main-card card">
        <div class="table-responsive">
            <table id="originalResultTable" class="align-middle mb-0 table table-borderless table-striped table-hover text-center">
                <thead><tr></tr></thead>
                <tbody></tbody>
            </table>
        </div>
        </div>
    </div>
</div>
    </div>
</div>


<div class="row">
   <div class="col-md-12">
      <div id="accordion">

      </div>
   </div>
</div>







{% endblock  %}

{% block modal %}



<div class="bootstrap-modal modal fade in" id="myModal" style="display: none;">
<div class="modal-dialog" role="document"> 
    <div class="modal-content">
    </div>

</div>
</div>


{% endblock  %}



{% block javascript %}

<script type="text/javascript">
$(document).ready(function() {
    $('#queriesSelect').change(function() {
        instanceId = $(this).val();
        const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
     $.ajax({
            url :  instanceId + "/process/",
            type : "POST",
            data : {
                csrfmiddlewaretoken: csrftoken
            },
            success: function (response) {


                if ($.fn.DataTable.isDataTable( '#originalResultTable')){
                $('#originalResultTable').DataTable().destroy();
                };

                $('#originalResultTable thead tr').empty();
                $('#originalResultTable tbody').empty();
                $('#accordion').empty();

                $.each(response.columns, function (k, colObj) {
                    str = '<th>' + colObj.name + '</th>';
                    $(str).appendTo('#originalResultTable'+'>thead>tr');
                });

                $.each(response.transformations, function (k, Obj) {
                	$('#accordion').append('<div class="card"><div class="card-header" id="heading'+k+'"><h5 class="mb-0">'+
                  '<button id="myButton" class="btn btn-link" data-toggle="collapse" data-target="#collapse'+k+'" aria-expanded="false" aria-controls="collapse'+k+'">'+
                  Obj.query_equiv +
                  '<span id="pill'+k+'" class="badge badge-pill"></span>'+
                  '</button>'+
               '</h5>'+
            '</div>'+
            '<div id="collapse'+k+'" class="collapse" aria-labelledby="heading'+k+'" data-parent="#accordion">'+
               '<div class="card-body">'+
                  '<div class="main-card card">'+
                     '<div class="table-responsive">'+
                     '<table id="transformationTable'+k+'" style="width:100%" class="align-middle mb-0 table table-borderless table-striped table-hover text-center">' +
                           '<thead>'+
                              '<tr></tr>'+
                           '</thead>'+
                           '<tbody></tbody>'+
                        '</table>'+
                     '</div>'+
                  '</div>'+
               '</div>'+
            '</div>'+
         '</div>');

                	if(Obj.equal.status){
                	 $('#pill'+k).addClass('badge-success');
                	 $('#pill'+k).text('Succeeded');	
                	}else{
                	$('#pill'+k).addClass('badge-danger');
                	$('#pill'+k).text('Failed');	
                	}



                if ($.fn.DataTable.isDataTable("#transformationTable"+k)) {
                $('#transformationTable'+k).DataTable().destroy();
                };



                $.each(Obj.changes_result.columns, function (j, colObj) {
                    str = '<th>' + colObj.name + '</th>';
                    $(str).appendTo('#transformationTable'+k+'>thead>tr');
                });

                $('#transformationTable'+k).dataTable({
                    "destroy": true,
                    "paging": false,
                    "info": false,
                    "dataSrc": "",
                    "searching": false,
                    "data": Obj.changes_result.rows,
                    "columns": Obj.changes_result.columns
                });

                });


                $('#originalResultTable').dataTable({
                    "destroy": true,
                    "paging": false,
                    "info": false,
                    "searching": false,
                    "dataSrc": "",
                    "data": response.data,
                    "columns": response.columns
                });

            },
            error : function() {
                sweetAlert("{% trans 'Oops...' %}", "{% trans 'Something went wrong!' %}", "error");
            }

      })
        });

});


    $('#transformationTable tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    } );


</script>


    <script>

  $(document).ready(function() {

} );
</script>


{% endblock %}
