{% extends 'metamorphic/index.html' %}

{% load static i18n widget_tweaks %}    

{% block icon %}
    <i class="fa fa-project-diagram icon-gradient bg-malibu-beach">
    </i>
{% endblock%}

{% block title %}
    {% trans 'Metamorphic Relations.' %}
{% endblock %}

{% block titledescription %}
    {% trans 'Select a query.' %}
{% endblock %}

{% block content %}

<div class="row">
<div class="col-md-12">
    <div class="main-card mb-3 card">
        <div class="card-header">{% trans 'Relations' %}
        <div class="btn-actions-pane-right">
            <div role="group" class="btn-group-sm btn-group">
            </div>
        </div>
        </div>
        <div class="table-responsive">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                </thead>
                <tbody>
                    <tr>
                    <td class="text-center">
                    <form>
                    {% csrf_token %}
                      <div class="position-relative form-group">
                        <label for="exampleCustomSelect" class="">Query Selection</label>
                        <select type="select" id="queriesSelect" name="queriesSelect" class="custom-select">
                            <option value="">----------</option>
                              {% for query in all_queries %}
                                  <option value="{{ query.pk }}">{{query.query_id}}   -   {{ query.query_text }}</option>
                              {% endfor %}
                        </select>
                      </div>
                    </form>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>

<div class="row">
<div class="col-md-12">
    <div class="main-card mb-3 card">
<div class="container">
    <div id="result"></div>
</div>
        </div>
    </div>
</div>


{% endblock  %}

{% block modal %}



<div class="bootstrap-modal modal fade in" id="myModal" style="display: none;">
<div class="modal-dialog" role="document"> 
    <div class="modal-content">
    </div>

</div>
</div>


{% endblock  %}



{% block javascript %}

<script type="text/javascript">
$(document).ready(function() {
    $('#queriesSelect').change(function() {
        instanceId = $(this).val();
        const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        alert("Se va a enviar la info al servidor");
     $.ajax({
            url :  instanceId + "/process/",
            type : "POST",
            data : {
                csrfmiddlewaretoken: csrftoken
            },
            success: function (data) {
                 $(".container").find("#result").text("Is nullable: " + data.nullable);
            },  
            error : function() {
                sweetAlert("{% trans 'Oops...' %}", "{% trans 'Something went wrong!' %}", "error");
            }

      })
        });
});
</script>

{% endblock %}
