{% extends "accounts/registration_base.html" %}
{% load static i18n widget_tweaks %} 
{% block content %}

<div class="container">
	        <div class="text-center mb-4">
    <img class="mb-2" src="{% static '/metamorphic/assets/images/logo-inversed.png' %}" alt="" width="240">
    <h1 class="h3 mb-3 font-weight-normal">Password Reset</h1>
  </div>
  <div class="jumbotron mt-3">
		<h1 class="text-center">{% trans 'Your password was successfully reset' %}</h1>
  </div>
    <p align="center">
    <a class="btn btn-lg btn-primary" href="{% url 'accounts:login' %}" role="button">{% trans 'Back to Login' %} »</a>
  </p>
</div>
  <!-- /.login-box-body -->
      {% endblock %}