{% extends "accounts/registration_base.html" %}
{% load static widget_tweaks %} 
{% block content %}
{% load i18n %}

      {% if validlink %}

      

      <form class="form-signin" method="post">
              <div class="text-center mb-4">
    <img class="mb-2" src="" alt="" width="240">
    <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>  </div>
        <h3 align="center">{% trans 'New Password' %}</h3>
      {% csrf_token %}

      {{ form.new_password1.errors }}
      <div class="form-group has-feedback">
        {% render_field form.new_password1 class+='form-control' type='password' placeholder=form.new_password1.label %}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      {{ form.new_password2.errors }}
      <div class="form-group has-feedback">
        {% render_field form.new_password2 class+='form-control' type='password' placeholder=form.new_password2.label %}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans 'Change Password' %}</button>
      </form>

      {% else %}

      <h3 class="text-center">{% trans 'INVALID LINK: The requested link has already been used.' %}</h3>
       <h4 class="text-center"><a href="{% url 'accounts:password_reset' %}">{% trans 'Request a new link' %}</a></h4><br>

      {% endif %}
    </a>

  </div>
  <!-- /.login-box-body -->
  {% endblock %}