{% extends "accounts/registration_base.html" %}}
{% load static i18n widget_tweaks %}

{% block title%} 
METAMORPHIC - SIGN UP
{% endblock %}

{% block content%}
    <form class="form-signin" method="post">
      <div class="text-center mb-4">
    <img class="mb-2" src="{% static '/metamorphic/assets/images/logo-inversed.png' %}" alt="" width="240">
    <h1 class="h3 mb-3 font-weight-normal">Registration</h1>
    <p>{% trans 'Please fill out this form to create an account.' %} </p>
  </div>
      {% csrf_token %}
      {% for field in form %}
    <div class="form-label-group">
        {{ field.errors }}
        {% render_field field class+='form-control' %}
        <label for="{{field.id_for_label}}">{{ field.label }}</label>
    </div>
    {% endfor %}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>

    <a class="btn btn-sm btn-primary btn-block" href="{% url 'accounts:login' %}" role="button">{% trans 'Back to Login' %} »</a>
</form>

{% endblock %}







